.grid-item{
    background-size: cover;
    background-position: center center;
}
.grid-item-1 { 
    grid-area: ad1;
    //background-image: url(https://images.unsplash.com/photo-1598257733238-97cf162c5ae0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80); 
} 
.grid-item-2 { 
    grid-area: ad2;
    //background-image: url(https://images.unsplash.com/photo-1603617385189-cee5d82d5032?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80); 
}
.grid-item-3 { 
    grid-area: ad3;
    //background-image: url(https://images.unsplash.com/photo-1598439210625-5067c578f3f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80); 
} 
.grid-item-4 { 
  grid-area: ad4;
  //background-image: url(https://images.unsplash.com/photo-1598439210625-5067c578f3f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80); 
} 
.grid-item-5 { 
  grid-area: ad5;
  //background-image: url(https://images.unsplash.com/photo-1598439210625-5067c578f3f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80); 
} 
.grid-container {
  display: grid;
  grid-template-areas:
    'ad1 ad2' 
    'ad4 ad5'; 
  grid-gap: 10px;
  background-color: #ffffff;
  // padding: 10px;
  @include mobile{
    grid-template-areas:
    'ad1 ad1'
    'ad2 ad2' 
    'ad4 ad4' 
    'ad5 ad5'; 
  }
  li {
    background-color: rgba(0, 0, 0, 0.8);
    // text-align: center;
    // padding: 20px 0;
    // font-size: 30px;
    // height: calc(50vw - 20px);
    // max-height: calc(740px - 40px);
    height: calc(#{$container} / 2 - 5px);
    // new
    @include mobile{  
        height: calc(#{$container} - 5px);
    }
  }
  // li:nth-last-child(1){
    
  // }

}
//product-ad